@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --animate-loader-slide: loader-slide 1.2s ease-in-out infinite;
}

@keyframes loader-slide {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(150%);
  }
}